/** Brand Pallette **
#242038 - Dark Purple
#725AC1 - Deep Purple
#8D86C9 - Indigo
#CAC4CE - Light Gray
#F7ECE1 - Cream
********************/


/** Structure **/
body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

/** Utilities **/
.container-wide, .container-slim {
    width: 100%;
    margin: 0 auto;
    padding: 0px 15px;
}
.container-wide {
    max-width: 960px;
}
.container-slim {
    max-width: 720px;
    margin-top: 30px;
}

/** Navigation **/
nav {
    color: #F7ECE1;
    background-color: #303F9F;
    height: 60px;     
}

nav a {
    color: #F7ECE1;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    border-bottom: 1px solid #303F9F;
}

a.active {
    color:#ebee4d;
    border-bottom: 1px solid #ebee4d;
}

.nav-container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}

.toast {
    display: flex;
    align-content: center;
    justify-content: center;
    background: #1976D2;
    color: #F7ECE1;
    padding: 10px 0px;
}

/** Core **/
.city-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
}

.city-title {
    font-size: 1.4rem;
}

.city-pop {
    font-size: 1rem;
}

.frame-box {
    border:2px solid #242038;
}

.frame-box iframe {
    min-height: 500px;
    width: 100% !important;
}

.city-wrap {
    margin-bottom: 50px;
}


/** Footer **/
footer {
    margin-top: auto;
    background-color: black;
}

.footer-container {
    color: #F7ECE1;
}